@import ".config/hypr/colors.css";

window {
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
}

#input {
    margin: 5px;
    border: 2px @--color-accent !important;
    background-color: @--color-bg;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#inner-box {
    background-color: @--color-bg;
    border-radius: 10px;
}

#scroll {
    margin: 5px;
    font-size: 16px;
    color: @--color-fg;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;

}

#scroll label {
    margin: 2px 0px;
}

#entry {
    background-color: transparent;
    margin: 5px;
    border-radius: 10px;
}

#entry:selected {
    border: 2px solid @--color-accent;
}

#img {
    margin: 5px;
}

#img:selected {
    /* background-color: white; */
}

#text {
    margin: 5px;
    border: none;
    color: white;
}

#text:selected {
    /* background-color: white; */
}
