* {
    font-family: Nerd Font Hack;
    font-size: 14px;
    color: #FFFFFF;
}

window#waybar {
    background: rgba(135, 81, 159, 0.6);
    border: none;
    border-radius: 20px;
}

box .modules-left> :not(:last-child)>label {
    padding-left: 10px;
    padding-right: 10px;
    border-image: linear-gradient(transparent, #87519f, transparent) 0 1 0 0 / 1px 1px 1px 1px;
}

box .modules-left> :last-child>label {
    padding-left: 10px;
}

#workspaces button {
    border-radius: 0;
    border-bottom: solid 2px transparent;
}

#workspaces button.active {
    border-bottom: solid 2px #FFFFFF;
}

/* #workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #ff79c6;
} */
